EXPO_PUBLIC_PRIVY_APP_ID=cmivv85zt00ftla0cjpaw155h
EXPO_PUBLIC_PRIVY_CLIENT_ID=
EXPO_PUBLIC_ANKY_API_URL=https://anky.app
EXPO_PUBLIC_APP_URL=https://anky.app
EXPO_PUBLIC_SOLANA_RPC_URL=https://api.devnet.solana.com
EXPO_PUBLIC_SOLANA_CLUSTER=devnet
EXPO_PUBLIC_SOLANA_SEAL_ADAPTER=mock
EXPO_PUBLIC_ANKY_CORE_PROGRAM_ID=CoREENxT6tW1HoK8ypY1SxRMZTcVPm7R94rH4PZNhX7d
EXPO_PUBLIC_ANKY_CORE_COLLECTION=F9UZwmeRTBwfVVJnbXYXUjxuQGYMYDEG28eXJgyF9V5u
EXPO_PUBLIC_ANKY_SEAL_PROGRAM_ID=4GjZaHbyyeVEjeYjm2q7vVdnNhMPnNMx8oeRwEBZDsMX
EXPO_PUBLIC_PRIVY_WALLET_EXPORT_URL=
EXPO_PUBLIC_REVENUECAT_ANDROID_API_KEY=
EXPO_PUBLIC_REVENUECAT_IOS_API_KEY=
